*{
    margin: 3px 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #e9ecef;
    
}

.navi{
    background-color: #343a40;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}


.anchor{
    margin: 0% 15px;
    text-decoration: none;
    color: #ced4da;
    font-size: 12px;
}
.anchor:hover{
    color: #f8f9fa;
    
}


.unicef {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unicef img{
    width: 115px;
}
.unicef a{
    text-decoration: none;
    font-size: 12px;
    margin-left: 15px;
    color: #4361ee;
}
.unicef a:hover{
    text-decoration: underline;
}

/* work of container 1 */

.cont1{
    width: 100%;
    height: 600px;
    background-image: url(./logos/pads\ many.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    
}

.cont-text{
    margin-left:25% ;
    text-align: center;
}
.pad-tm{
    font-size: 3em;
    margin-bottom: 10px;
}
.mac-air{
    text-decoration: none;
    color: black;
}

.t-an{
    color: #4361ee;
    text-decoration: none;
    font-size: 1.2em;
}
.t-an:hover{
    text-decoration: underline;
}


/* work of container 2 */

.cont2{
    width: 100%;
    height: 550px;
    /* background-color: gray; */
    background-image: url(./images/angle\ iphone.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* position: relative; */
    display: flex;
    justify-content: center;
    
}
.t-pera{
    font-size: 1.4em;
}
.cont-text2{
    text-align: center;
    margin-top: 4%;
}

/* work of container 3 */

.cont3{
    width: 100%;
    height: 550px;
    background-image: url(./images/pad\ pic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
}
.cont-text3{
    text-align: center;
    margin: 4%;
}
#modif{
    color:#f72585 ;
}
.texti{
    font-style: italic;
}

/* work of container 4 */

.cont4{
    width: 100%;
    height: 550px;
    display: flex;

}

.cont-text4{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./images/two\ iphone.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* work of container 5 */
.cont-text5{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./images/half\ open\ pad.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text-in{
    text-align: center;
    margin: 4%;
}
.pad-tm1{
    color: white;
}

/* work of container 6 */
.cont6{
    width: 100%;
    height: 550px;
    display: flex;

}
.cont-text6{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./images/watch\ back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.watch-log{
    width: 50%;
}

.cont-text7{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./images/many\ iphne.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.modif-b{
    color: white;
}

/* work of container 8 */
.cont8{
    width: 100%;
    height: 550px;
    display: flex;

}
.cont-text8{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./images/card.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cont-text9{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(./images/imusic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.imus{
    width: 70%;
    margin-top: 0%;
}
.alin.b{
    /* margin-top:90% ; */
}
.ilin-b{
    margin-top: 78%;
}
.a-white{
    color: white;
}

/* last container */

.contl{
    width: 100%;
    height: 1000px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}
.contl-in{
    width: 65%;
}
p.data2-text {
    color: gray;
    font-size: 0.75em;
    margin-top: 2%;
    text-align: justify;
}
p a.data2-an{
    color: gray;
    text-decoration: none;
}
p a.data2-an:hover{
    text-decoration: underline;
}

.conl-data2{
    width: 100%;
    display: flex;
}
.data2-p1{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}
.data2-p2{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}
.data2-p3{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}
.data2-p4{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}
.data2-p5{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.a-head{
    color: gray;
    font-size: 0.8em;
    margin: 8% 0%;
    font-weight: bold;
}
.a-head-t{
    color: gray;
    font-size: 0.8em;
    text-decoration: none;
}
.a-head-t:hover{
    text-decoration: underline;
}

.b-t{
    color: blue;
    text-decoration: none;
}
.b-t:hover{
    text-decoration: underline;
}

.conl-data4{
    width: 100%;
    display: flex;
    margin: 1% 0%;
}
.lstline-1{
    color: gray;
    font-size: 0.8em; 
}
.lstline-2{
    color: gray;
    font-size: 0.8em; 
    margin-left: 5%;
}
.lstline-3{
    color: gray;
    font-size: 0.8em;
    margin-left: 19%; 
}